body{
  font-family: sans-serif;
}
#box{
  width: 220px;
  margin: auto;
}

#button{
  margin-top: 20px;
  text-align: center;
}

#bouton{
  border-radius: 9px;
}
#reponse{
  width: 600px;
}

.exo{
  margin-top: 100px 0px;
  width: 660px;
}